# Configuración de WhatsApp Meta
WHATSAPP_VERIFY_TOKEN=tu_token_de_verificacion_aqui
WHATSAPP_API_TOKEN=EAA_tu_token_permanente_aqui

#Puerto
PORT=8080 
# Configuración de Base de Datos (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nombre_de_tu_bd
DB_USER=usuario_de_tu_bd
DB_PASSWORD=tu_contraseña_secreta

# Configuración de Rutas
UPLOADS_DIR=/var/www/redyon-app/uploads
SECRET_KEY=tu_secret_key
